
body,ul,li {
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-family: Arial;
}
#hed{
    
  
    
}
#logo{
    position: relative;
    width: 1090px;
    background-color:rgb(43, 41, 41);
    display: flex;
    border-radius: 5px;
    height: 100%;
    color: white;
    
}
#logo h1{
    margin-left: 10px;
    
}
#proc {
    position: absolute;
    top: 34px;
    left: 35%;
}
#busca{
    position:absolute;
    top: 40%;
    left: 40%;
    height: 18%;
    border-radius: 5%;
}
#tell {
    position: absolute;
    top: 40%;
    left: 70%;

}
#logo h2{
    position: absolute;
    top: 6px;
    left: 80%;
    
}
#nav {
    
}
#nav1 {
    display: flex;
    justify-content: space-between;
    width: 1090px;
    height: 25px;
    border: 1px solid white;
    padding-top: 4px;
    border: 2px solid rebeccapurple;
    border-radius: 5px;
}
#nav1 a{
    font-size: 20px;
    padding: 8px;
    text-decoration: none;
    
}
#menu{
    margin-left: 10px;
    font-size: 20px;
    padding: 2px;
    text-decoration: none; 
}
#redes {
    margin-right: 15px;
}

#menu1 {
    
}
#menu1 li{
    height: 40px;
    width: 120px;
    border-bottom:2px solid rebeccapurple;
    padding-left: 10px;
    padding-top: 6px;
}
#games{
    margin-top: 20px;
}
#baner{
    position: absolute;
    top: 113px;
    left: 110px;
    height: 100%;
    width: 982px;
    background-color: rgb(87, 77, 77);
    border-radius: 5px;
}
#princ{
    position: absolute;
    top: 2%;
    left: 2%;
    width: 400px;
    height: 300px;
    background-color: white;
    border-radius: 5px;
}
